.Cypherock-website-page-1 {
  background-color: #ffffff;
  margin: 0;
}

.Rectangle-1 {
  width: auto;
  height: 100px;
  background-color: #343144;
  text-align: right;
}
.Rectangle-5.1
{
	width: 100%;
	height:285px;
	border-left: 1366px solid #343144;
	border-bottom: 243px solid transparent;
}
#subscribe
{
    color: #343144;
    margin-top: 33px;
    margin-bottom: -33px;
    margin-right: 41px;
    border: none;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #f7941d 0%, #f8d62c 76%, #f9ed32);
    height: 50%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    transition: all 0.3s;
    --webkit-transition:all 0.3s;
    --moz-transition:all 0.3s;
    outline: none;
}
.btn{
  color: white;
  margin-top: 33px;
  margin-bottom: -33px;
  margin-right: 41px;
  border: none;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  background: none;
  height: 50%;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  transition: all 0.3s;
  --webkit-transition:all 0.3s;
  --moz-transition:all 0.3s;
  outline: none;
}

.btn:hover{
  text-align: center;
  color: #343144;
  background-image: linear-gradient(to right, #f7941d 0%, #f8d62c 76%, #f9ed32);
}

.Rectangle-2 {
  width: auto;
  height: 980px;
  background-color: #f1f2f2;
}
#pre-order
{
  border-image-slice: 1;
  border-width: 1px;
  border-radius: 7.48px;
}

.preorder
{
  /* border: 1px solid black; */
  background-color: white;
  /* border-color: #4CAF50; */
  border-image: linear-gradient(to right, #f7941d, #f18f21 13%, #e0832f 31%, #c47045 51%, #9d5464 74%, #6c318b 97%, #662d91);
  color: black;
  border-radius: 7.48px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  font-weight: 500;
  letter-spacing: 1px;

}
.preorder:hover{
  border: 1px solid white;
  border-radius: 6px;
  background:linear-gradient(to right, #f7941d, #f18f21 13%, #e0832f 31%, #c47045 51%, #9d5464 74%, #6c318b 97%, #662d91);
  color: white;
  /* box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12), 0 8px 25px 0 rgba(0,0,0,0.10); */
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
  margin: auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 30px;
  color: black;
  font-weight: 100;
  font-size: 50px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position:center;
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  height: 70px;
  background-color: #ddd;
  color: black;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;

  margin: 25px 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: yellow;
}

/* quotes */
p{
  margin: -100px 10% 3% 10%;
  /* margin-top: -100px; */
  font-family: Lato;
  font-weight: 300;
  font-size: 34px;
}

/* SHIELD x */
.heading
{
  font-family: Nexa;
  font-weight: bold;
  font-size: 120px;
}

.Rectangle-5{
    width: 100%;
    height: 1796px;
    margin-top: -379px;
    background-color:#ffffff;
}
.steps-to-use{
  font-family: Nexa;
  font-size: 62px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.Rectangle-3 {
  margin-top: -250px;
  width: auto;
  background-color: #f1f2f2;
  padding-bottom: 20px;
  font-family: Nexa;
}
form {
border: 3px solid #f1f1f1;
font-family: Arial;
}


.container {
padding: 20px;
margin-left: 160px;
font-style: Nexa;
}

input[type=text]{
width: 40%;
height: 50px;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 8.9px;
box-sizing: border-box;
}
input[type=submit] {
width: 15%;
height: 50px;
padding: 12px;
margin: 8px 0 0 10px;
display: inline-block;
border: none;
box-sizing: border-box;
border-radius: 8.9px;
font-size: 20px;
box-shadow: -7px 7px 5px 0 rgba(233, 233, 233, 0.75);
background-image: linear-gradient(to right, #f7941d 0%, #f9ed32);
color:#343144 ;
border: none;
}

input[type=submit]:hover {
opacity: 0.8;
}

.Rectangle-4 {;
  height: 200px;
  background-color: #343144;
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 100px 5px;
  align: right;
  border-radius: 6px;
  background: #343144;
  color: white;
}

.fa-facebook:hover {
  background: #3B5998;
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-linkedin:hover {
  background: #007bb5;
}
