body {
  margin:0 ;
  padding:0;
  font-family: Nexa;
}

#header-cover {
  display:block;
  height:50px;
}
#branding{
  float:left;
}

#branding h1{
  margin:0;
}
a {
  text-decoration:none;
  color:inherit;
}

nav{
  position:fixed;
  width:100%;
}

nav ul {
  background-color: #343144;
  overflow: hidden;
  color:white;
  padding: 0;
  text-align: right;
  margin:0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
#subscribe{
  background-image:linear-gradient(to right, #f7941d 0%, #f8d62c 76%, #f9ed32);
  color:#343144;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  border-radius: 6px;
}

nav ul li {
  display:inline-block;
  padding: 4px 10px 4px 10px;
  margin:20px;
}

nav ul li:hover {
  color:#343144;
  background-image: linear-gradient(to right, #f7941d 0%, #f8d62c 76%, #f9ed32);
  border-radius: 6px;
}
#pre-order
{
  border-image-slice: 1;
  border-width: 1px;
  border-radius: 7.48px;
}

.preorder
{
  /* border: 1px solid black; */
  background-color: white;
  /* border-color: #4CAF50; */
  border-image: linear-gradient(to right, #f7941d, #f18f21 13%, #e0832f 31%, #c47045 51%, #9d5464 74%, #6c318b 97%, #662d91);
  color: black;
  border-radius: 7.48px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  font-weight: 500;
  letter-spacing: 1px;

}
.preorder:hover{
  border: 1px solid white;
  border-radius: 6px;
  background:linear-gradient(to right, #f7941d, #f18f21 13%, #e0832f 31%, #c47045 51%, #9d5464 74%, #6c318b 97%, #662d91);
  color: white;
  /* box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12), 0 8px 25px 0 rgba(0,0,0,0.10); */
}
/* Slideshow container */
.slideshow-container {
  background: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 30px;
  color: black;
  font-weight: 100;
  font-size: 50px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position:center;
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  height: 70px;
  background-color: #ddd;
  color: black;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;

  margin: 25px 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: yellow;
}

/* quotes */
p{
  margin: -100px 10% 3% 10%;
  /* margin-top: -100px; */
  font-family: Lato;
  font-weight: 300;
  font-size: 34px;
}

/* SHIELD x */
.heading
{
  font-family: Nexa;
  font-weight: bold;
  font-size: 120px;
}
.Rectangle-6
{
  width: auto;
  height: 767px;
  background-color: #f1f1f2;
}
.features
{
  padding-top: 38px;
  font-family: Nexa;
  font-size: 40.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #404041;
}

#boxes{
  margin-top:20px;
}

#boxes .box1{
  float:left;
  text-align: center;
  width:40%;
  padding:10px;
}
#boxes .box2{
  float:right;
  text-align: center;
  width:40%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}
.cards
{

}
.boxHeading{
padding-left: 100px;
  -webkit-text-stroke: 1px #f6921e;
  font-family: Nexa;
  font-size: 27.7px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #f6921e;
}
.boxHeading-p
{
  padding-top: 105px;
  font-family: Nexa;
  font-size: 19.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #404041;

}

.Rectangle-5{
  margin:0;
  padding:0;
  font-family:Nexa;
  background-color:white;
}
.STEPS-TO-USE {
  font-family: Nexa;
  font-size: 62px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.Rectangle-5 div{
  padding: 5% 5%;
}
.triangle-right{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(-80deg, #343144 50%, #EEEEEE 50%);
  border-radius:20px;
  height: 800px;
}

.triangle-left{
  margin-top:-360px;
}
.triangle-right h1,h3
{
  margin:-2% 0% 0% 0%;
  text-align: right;
  color: white;
  font-size: 50px;
  font-style:Nexa;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.triangle-right p
{
  margin:1% 0% 0% 50%;
  font-size: 23px;
  font-family: Nexa;
  text-align: right;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.triangle-left h2,h4
{
  margin: 0;
  text-align: left;
  color: #343144;
  font-size: 50px;
  font-style:Nexa;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
.triangle-left p
{
  margin:0% 50% 0% 0%;
  font-size: 23px;
  font-family: Nexa;
  text-align: left;
  color: #343144;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.Rectangle-3 {
  margin-top: 8px;
  width:auto;
  height: 424px;
  font-size: 30px;
  color: white;
  background-color: #343144;
  padding-bottom: 20px;
  font-family: Nexa;
}
form {
font-family: Nexa;
}


.container {
padding: 20px;
margin-left: 160px;
font-style: Nexa;
}

input[type=text]{
width: 48%;
height: 50px;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: none;;
border-radius: 8.9px;
box-sizing: border-box;
}
input[type=submit] {
width: 18%;
height: 50px;
padding: 12px;
margin: 8px 0 0 10px;
display: inline-block;
border: none;
box-sizing: border-box;
border-radius: 8.9px;
font-size: 20px;
/* box-shadow: -7px 7px 5px 0 rgba(233, 233, 233, 0.75); */
background-image: linear-gradient(to right, #f7941d 0%, #f9ed32);
color:#343144 ;
border: none;
}

input[type=submit]:hover {
opacity: 1.2;
}

.Rectangle-4 {;
  height: 200px;
  background-color: white;
  text-align: left;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 100px 5px;
  border-radius: 6px;
  background: #343144;
  color: white;
}

.fa-facebook:hover {
  background: #3B5998;
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-linkedin:hover {
  background: #007bb5;
}
footer
{
  font-family: Metropolis;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 5.4;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
footer p{
  font-size: 10px;
}

.aboutus img
{
    margin-top: -200px;
    width: 100%;
    height: auto;
}
.center {
  margin-top: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: Montserrat;
  font-size: 110px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Our-Vision
{
  width: auto;
  height: 500px;
}
.Our-Vision h1
{
  padding-top:50px;
  font-family: Lato;
  font-size: 85px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.Our-Vision p
{
  padding-top: 130px;
 font-family: Nexa;
 font-size: 25px;
 font-weight: 300;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.52;
 letter-spacing: normal;
 text-align: center;
 color: #000000;
}

.The-Visionaries
{
  height: 769px;
  background-color: #f9f9f9;
}

.The-Visionaries h1
{
  padding-top: 90px;
  font-family: Lato;
  font-size: 75px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.The-Visionaries img
{
  
}
